
.column{
  line-height: 2;
  height: 500px;
  width: 850px;
  position: relative;
  left: 25%;
  bottom: 25%;
  top:25%;
  right:25%;


}


.left-container{
  background-color: #F58634;
  height: 500px;
  width: 250px;
  position: absolute;
  left: 8px;
  top: 8px;

  padding-left: 30px;
  padding-top: 40px;







}
.middle-container{
  background-color: #006970;
  height: 500px;
  width:250px;
  position: absolute;
  left: 288px;
  bottom: 500px;
  top: 8px;
  padding-left: 30px;
  padding-top: 40px;
}
.right-container{
  background-color: #004241;
  width: 250px;
  height: 500px;
  position: absolute;
  left: 568px;
  bottom: 500px;
  top: 8px;
  padding-left: 30px;
  padding-top: 40px;
}



h1{
  font-family: 'Big Shoulders Display', cursive;
  color: #f2f2f2;
}
p{
  color:hsla(0,0%,100%,0.75);
  font-family: 'Lexend Deca', sans-serif;
  padding-bottom: 60px;
  padding-right:20px;

}
.btn {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #f2f2f2;
  font-size: 20px;
  background: #e38826;
  padding: 15px 20px 15px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn:hover {
  background: #E27802;
  background-image: -webkit-linear-gradient(top, #E27802, #E27802);
  background-image: -moz-linear-gradient(top, #E27802, #E27802);
  background-image: -ms-linear-gradient(top, #E27802, #E27802);
  background-image: -o-linear-gradient(top, #E27802, #E27802);
  background-image: linear-gradient(to bottom, #E27802, #E27802);
  text-decoration: none;
}

.btn1 {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #f2f2f2;
  font-size: 20px;
  background: #006970;
  padding: 15px 20px 15px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn1:hover {
  background: #003638;
  background-image: -webkit-linear-gradient(top, #003638, #003638);
  background-image: -moz-linear-gradient(top, #003638, #003638);
  background-image: -ms-linear-gradient(top, #003638, #003638);
  background-image: -o-linear-gradient(top, #003638, #003638);
  background-image: linear-gradient(to bottom, #003638, #003638);
  text-decoration: none;
}

.btn2 {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #f2f2f2;
  font-size: 20px;
  background: #004241;
  padding: 15px 20px 15px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn2:hover {
  background: #055052;
  background-image: -webkit-linear-gradient(top, #055052, #055052);
  background-image: -moz-linear-gradient(top, #055052, #055052);
  background-image: -ms-linear-gradient(top, #055052, #055052);
  background-image: -o-linear-gradient(top, #055052, #055052);
  background-image: linear-gradient(to bottom, #055052, #055052);
  text-decoration: none;
}
